.title_container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #adadad;
  overflow: hidden;
  padding: 0 25px;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: clamp(5rem, 15vw, 12rem);
  font-weight: 900;
  margin: auto auto;
  margin-top: clamp(50px, 10vw, 100px);
  margin-bottom: 150px;
  color: #e3e3e3;
}

.printer_pic {
  position: absolute;
  bottom: 0;
  width: 100vw;
  min-width: clamp(1000px, 200vw, 1200px);
  height: auto;
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f6f4f4;
  gap: 25px;
  padding: 30px 0;
}

.description {
  color: #333333;
  font-family: "DM Sans", "sans-serif";
  text-align: center;
  margin: 0 auto;
  padding: 0 10px;
  max-width: 60ch;
  font-weight: 400;
  font-size: clamp(1rem, 2.5vw, 1.25rem);
}

.quote {
  margin-top: 20px;
  font-weight: 500;
  font-size: clamp(1rem, 2.5vw, 1.1em);
  padding: 10px 20px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  border: 3px solid #333333;
  color: #333333;
  background-color: #f6f4f4;
  transition: 0.3s;
}
.quote:hover {
  transition: 0.3s;
  border: 3px solid #333333;
  color: white;
  background-color: #333333;
}
