.header {
  box-shadow: 0px 0px 29px -5px rgba(0, 0, 0, 0.08);
  background: #ffffff;
  position: fixed;
  z-index: 1;
  right: 0;
  left: 0;
  top: 0;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  margin: 18px auto;
  padding: 0 clamp(20px, 3vw, 50px);
}

.navbar .links {
  align-items: center;
  flex-shrink: 0;
}
.navbar a {
  margin-left: 20px;
  text-decoration: none;
  padding: 8px 10px;
  font-size: clamp(0.8em, 1.5vw, 1.1em);
  font-weight: 500;
}
.navbar a:hover {
  color: #8a8888;
  cursor: pointer;
}

.navbar .links .selected {
  color: #294549;
  font-weight: 700;
  box-shadow: #8a8888;
  transition: 0.3s;
}
.rysera_logo {
  width: clamp(75px, 15vw, 120px);
  height: auto;
}
.submenu .selected {
  color: #294549;
  padding: 3px 5px;
  font-weight: 700;
  box-shadow: #8a8888;
  transition: 0.3s;
}

.navbar .hamburger {
  display: none;
}

.header .submenu {
  display: none;
}
.header .submenu_close {
  display: flex;
  opacity: 0;
  height: 0;
}

.header .submenu span {
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  font-size: clamp(0.9em, 3vw, 1.1em);
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: none;
  }

  .navbar .hamburger .contact_logo {
    margin-right: 10px;
  }

  .navbar .links {
    display: none;
  }

  .navbar .hamburger {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar .hamburger .contact_logo .phone_logo {
    height: 15;
    width: auto;
  }
  .header .submenu {
    display: flex;
    opacity: 1;
    height: auto;
    padding: 0 20px;
    padding-bottom: 20px;
    max-width: 500px;
    margin: 0 auto;
    background-color: #ffffff;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    animation: openNav 0.3s;
  }
  @keyframes openNav {
    0% {
      opacity: 0;
      height: 0;
    }
    90% {
      opacity: 0.5;
      height: 90%;
    }
    100% {
      opacity: 1;
      height: auto;
    }
  }

  .header .submenu .selected {
    font-weight: 700;
  }
}
